<a href="./message" title="" style="float: right; text-decoration: none"> <h3>Login</h3> </a>
<h3>Register</h3>
<hr>
<div class="row">
  <div class="col-xs-4" style="margin-left: 420px; text-align: center">
    {{#if detailMessage.error}}
    <div class="alert alert-danger">
      {{detailMessage.error}}
    </div>
    {{else}}
      {{#if detailMessage.success}}
      <div class="alert alert-success">
        {{detailMessage.success}}
      </div>
      {{/if}}
    {{/if}}   
  </div>
</div>
<form class="form-horizontal" action="" method="post" >
  <div class="form-group" style="margin-left: 200px">
    <label class="control-label col-sm-2" for="email">Email *</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" maxlength="50" placeholder="Enter email" required name="email">
    </div>
  </div>

  <div class="form-group" style="margin-left: 200px">
    <label class="control-label col-sm-2" for="pwd">Password *</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" maxlength="50" placeholder="Enter password" required name="password">
    </div>
  </div> 
  <div class="form-group" style="margin-left: 200px">
    <label class="control-label col-sm-2" for="name">Name *</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" maxlength="50" placeholder="Enter full name" required name="name">
    </div>
  </div>

  <div class="form-group" style="margin-left: 200px">
    <label class="control-label col-sm-2" for="name">Phone *</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" maxlength="50" placeholder="Enter phone number" required name="phone">
    </div>
  </div>

  <div class="form-group" style="margin-left: 360px">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-primary">Register now</button>
    </div>
  </div>
</form>